.App {
  padding-top: 3rem;
  text-align: center;
  color: white;
  background: rgb(67, 0, 222);
}

.App-intro {
  margin-left: 3rem;
  margin-right: 3rem;
  font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
  font-size: 3rem;
  font-style: italic;
  border-top: 7px dotted rgb(250, 250, 68);
  border-bottom: 7px dotted rgb(250, 250, 68);
  border-radius: 50%;
  box-shadow: 0 2px 20px rgb(69, 106, 255);
}
